In [1]:
%store -r df_neigh_list gdf_neigh_geo

In [2]:
df_neigh_list

      neighbourhood_group                              neighbourhood
0    Charlottenburg-Wilm.                                  Barstraße
1    Charlottenburg-Wilm.                        Charlottenburg Nord
2    Charlottenburg-Wilm.                        Düsseldorfer Straße
3    Charlottenburg-Wilm.                            Forst Grunewald
4    Charlottenburg-Wilm.                                  Grunewald
..                    ...                                        ...
134    Treptow - Köpenick                            Oberschöneweide
135    Treptow - Köpenick                                Plänterwald
136    Treptow - Köpenick                     Rahnsdorf/Hessenwinkel
137    Treptow - Köpenick  Schmöckwitz/Karolinenhof/Rauchfangswerder
138                   NaN                                        NaN

[139 rows x 2 columns]

In [3]:
gdf_neigh_geo

,neighbourhood,neighbourhood_group,geometry
0,Blankenfelde/Niederschönhausen,Pankow,"MULTIPOLYGON (((13.41191 52.61487, 13.41183 52..."
1,Helmholtzplatz,Pankow,"MULTIPOLYGON (((13.41405 52.54929, 13.41422 52..."
2,Wiesbadener Straße,Charlottenburg-Wilm.,"MULTIPOLYGON (((13.30748 52.46788, 13.30743 52..."
3,Schmöckwitz/Karolinenhof/Rauchfangswerder,Treptow - Köpenick,"MULTIPOLYGON (((13.70973 52.3963, 13.70926 52...."
4,Müggelheim,Treptow - Köpenick,"MULTIPOLYGON (((13.73762 52.4085, 13.73773 52...."
...,...,...,...
135,Hellersdorf-Ost,Marzahn - Hellersdorf,"MULTIPOLYGON (((13.62135 52.52704, 13.62079 52..."
136,Mahlsdorf,Marzahn - Hellersdorf,"MULTIPOLYGON (((13.65554 52.52982, 13.65693 52..."
137,Ost 1,Reinickendorf,"MULTIPOLYGON (((13.36666 52.55823, 13.36561 52..."
138,Ost 2,Reinickendorf,"MULTIPOLYGON (((13.36418 52.56298, 13.36423 52..."
139,MV 2,Reinickendorf,"MULTIPOLYGON (((13.34846 52.60664, 13.34911 52..."

In [4]:
print("df_neigh_list missing counts:")
print(df_neigh_list.isna().sum())

df_neigh_list missing counts:
neighbourhood_group    1
neighbourhood          1
dtype: int64

In [5]:
print("\ngdf_neigh_geo missing counts:")
print(gdf_neigh_geo.isna().sum())

gdf_neigh_geo missing counts:
neighbourhood          2
neighbourhood_group    2
geometry               0
dtype: int64

In [6]:
print("\ndf_neigh_list – rows with missing values:")
display(df_neigh_list[df_neigh_list[['neighbourhood_group','neighbourhood']].isna().any(axis=1)])

df_neigh_list – rows with missing values:

    neighbourhood_group neighbourhood
138                 NaN           NaN

In [7]:
print("\ngdf_neigh_geo – rows with missing values:")
display(gdf_neigh_geo[gdf_neigh_geo[['neighbourhood_group','neighbourhood']].isna().any(axis=1)])

gdf_neigh_geo – rows with missing values:

,neighbourhood,neighbourhood_group,geometry
11,None,None,"MULTIPOLYGON (((13.61659 52.58154, 13.61458 52..."
12,None,None,"MULTIPOLYGON (((13.61668 52.57868, 13.60703 52..."

In [8]:
df_neigh_list = df_neigh_list.drop(138)
gdf_neigh_geo = gdf_neigh_geo.drop([11, 12])

In [9]:
print("df_neigh_list unique neighborhoods:", df_neigh_list['neighbourhood'].nunique())
print("gdf_neigh_geo unique neighborhoods:", gdf_neigh_geo['neighbourhood'].nunique())

print("\nSample neighborhoods from df_neigh_list:")
print(df_neigh_list['neighbourhood'].head(10).tolist())

print("\nSample neighborhoods from gdf_neigh_geo:")
print(gdf_neigh_geo['neighbourhood'].head(10).tolist())

df_neigh_list unique neighborhoods: 138
gdf_neigh_geo unique neighborhoods: 138

Sample neighborhoods from df_neigh_list:
['Barstraße', 'Charlottenburg Nord', 'Düsseldorfer Straße', 'Forst Grunewald', 'Grunewald', 'Halensee', 'Heerstrasse', 'Kantstraße', 'Kurfürstendamm', 'Mierendorffplatz']

Sample neighborhoods from gdf_neigh_geo:
['Blankenfelde/Niederschönhausen', 'Helmholtzplatz', 'Wiesbadener Straße', 'Schmöckwitz/Karolinenhof/Rauchfangswerder', 'Müggelheim', 'Biesdorf', 'Nord 1', 'West 5', 'Frankfurter Allee Nord', 'Buch']

In [10]:
# Check if they're the same neighborhoods in different order
neigh_list_set = set(df_neigh_list['neighbourhood'])
neigh_geo_set = set(gdf_neigh_geo['neighbourhood'])

print("Are they the same neighborhoods?", neigh_list_set == neigh_geo_set)
print("Neighborhoods only in df_neigh_list:", neigh_list_set - neigh_geo_set)
print("Neighborhoods only in gdf_neigh_geo:", neigh_geo_set - neigh_list_set)

# Also check if borough groupings help with matching
print("\nBorough groups in df_neigh_list:")
print(df_neigh_list['neighbourhood_group'].value_counts())
print("\nBorough groups in gdf_neigh_geo:")
print(gdf_neigh_geo['neighbourhood_group'].value_counts())

Are they the same neighborhoods? True
Neighborhoods only in df_neigh_list: set()
Neighborhoods only in gdf_neigh_geo: set()

Borough groups in df_neigh_list:
neighbourhood_group
Treptow - Köpenick          20
Charlottenburg-Wilm.        17
Pankow                      16
Lichtenberg                 13
Reinickendorf               11
Neukölln                    10
Mitte                       10
Marzahn - Hellersdorf        9
Spandau                      9
Friedrichshain-Kreuzberg     8
Steglitz - Zehlendorf        8
Tempelhof - Schöneberg       7
Name: count, dtype: int64

Borough groups in gdf_neigh_geo:
neighbourhood_group
Treptow - Köpenick          20
Charlottenburg-Wilm.        17
Pankow                      16
Lichtenberg                 13
Reinickendorf               11
Neukölln                    10
Mitte                       10
Marzahn - Hellersdorf        9
Spandau                      9
Friedrichshain-Kreuzberg     8
Steglitz - Zehlendorf        8
Tempelhof - Schöneberg       7
Name: count, dtype: int64

In [11]:
merged_neighborhoods = df_neigh_list.merge(
    gdf_neigh_geo, 
    on=['neighbourhood', 'neighbourhood_group'], 
    how='inner'
)

print(f"Merged dataset shape: {merged_neighborhoods.shape}")
print(f"Should be 138 rows: {len(merged_neighborhoods) == 138}")

# Verify the merge worked
print("\nColumns in merged dataset:")
print(merged_neighborhoods.columns.tolist())

Merged dataset shape: (138, 3)
Should be 138 rows: True

Columns in merged dataset:
['neighbourhood_group', 'neighbourhood', 'geometry']

In [12]:
merged_neighborhoods

,neighbourhood_group,neighbourhood,geometry
0,Charlottenburg-Wilm.,Barstraße,"MULTIPOLYGON (((13.30071 52.48778, 13.30126 52..."
1,Charlottenburg-Wilm.,Charlottenburg Nord,"MULTIPOLYGON (((13.32733 52.54145, 13.32732 52..."
2,Charlottenburg-Wilm.,Düsseldorfer Straße,"MULTIPOLYGON (((13.33697 52.50068, 13.33751 52..."
3,Charlottenburg-Wilm.,Forst Grunewald,"MULTIPOLYGON (((13.2383 52.46917, 13.23777 52...."
4,Charlottenburg-Wilm.,Grunewald,"MULTIPOLYGON (((13.26053 52.48945, 13.26094 52..."
...,...,...,...
133,Treptow - Köpenick,Niederschöneweide,"MULTIPOLYGON (((13.55315 52.44784, 13.54968 52..."
134,Treptow - Köpenick,Oberschöneweide,"MULTIPOLYGON (((13.49418 52.48312, 13.49664 52..."
135,Treptow - Köpenick,Plänterwald,"MULTIPOLYGON (((13.45859 52.48552, 13.45833 52..."
136,Treptow - Köpenick,Rahnsdorf/Hessenwinkel,"MULTIPOLYGON (((13.73141 52.41976, 13.73134 52..."
137,Treptow - Köpenick,Schmöckwitz/Karolinenhof/Rauchfangswerder,"MULTIPOLYGON (((13.70973 52.3963, 13.70926 52...."

In [13]:
%store -r df_listings

In [14]:
print("Listings shape:", df_listings.shape)
print("Listings columns:", df_listings.columns.tolist())
print("Sample neighborhood values from listings:", df_listings['neighbourhood'].value_counts().head())

Listings shape: (13945, 79)
Listings columns: ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']
Sample neighborhood values from listings: neighbourhood
Berlin, Germany                           6572
Berlin Charlottenburg, Berlin, Germany       3
Berlin - Mitte, Germany                      3
Berlin, Be, Germany                          3
Friedrichshain, Berlin, Germany              2
Name: count, dtype: int64

In [15]:
print("neighbourhood_cleansed values:")
print(df_listings['neighbourhood_cleansed'].value_counts().head(10))

print("\nneighbourhood_group_cleansed values:")  
print(df_listings['neighbourhood_group_cleansed'].value_counts())

# Check if they match  neighborhood data
listings_neighborhoods = set(df_listings['neighbourhood_cleansed'].dropna())
merged_neighborhoods_set = set(merged_neighborhoods['neighbourhood'])

print(f"\nListings has {len(listings_neighborhoods)} unique neighborhoods")
print(f"Merged neighborhoods has {len(merged_neighborhoods_set)} unique neighborhoods")
print(f"Perfect match: {listings_neighborhoods == merged_neighborhoods_set}")

if listings_neighborhoods != merged_neighborhoods_set:
    print("Missing from listings:", merged_neighborhoods_set - listings_neighborhoods)
    print("Extra in listings:", listings_neighborhoods - merged_neighborhoods_set)

neighbourhood_cleansed values:
neighbourhood_cleansed
Alexanderplatz              883
Frankfurter Allee Süd FK    759
Tempelhofer Vorstadt        663
Brunnenstr. Süd             560
Reuterstraße                432
Prenzlauer Berg Südwest     399
südliche Luisenstadt        392
Neuköllner Mitte/Zentrum    354
Schöneberg-Nord             324
Rixdorf                     321
Name: count, dtype: int64

neighbourhood_group_cleansed values:
neighbourhood_group_cleansed
Friedrichshain-Kreuzberg    3026
Mitte                       2991
Pankow                      2161
Neukölln                    1546
Charlottenburg-Wilm.        1430
Tempelhof - Schöneberg       951
Treptow - Köpenick           610
Lichtenberg                  412
Steglitz - Zehlendorf        371
Reinickendorf                196
Spandau                      128
Marzahn - Hellersdorf        123
Name: count, dtype: int64

Listings has 138 unique neighborhoods
Merged neighborhoods has 138 unique neighborhoods
Perfect match: True

In [16]:
# Check if neighborhood names match
listings_neighborhoods = set(df_listings['neighbourhood_cleansed'].dropna())
merged_neighborhoods_set = set(merged_neighborhoods['neighbourhood'])

print(f"Listings has {len(listings_neighborhoods)} unique neighborhoods")
print(f"Merged neighborhoods has {len(merged_neighborhoods_set)} unique neighborhoods")
print(f"Perfect match: {listings_neighborhoods == merged_neighborhoods_set}")

if listings_neighborhoods != merged_neighborhoods_set:
    print("\nMissing from listings:", merged_neighborhoods_set - listings_neighborhoods)
    print("Extra in listings:", listings_neighborhoods - merged_neighborhoods_set)

Listings has 138 unique neighborhoods
Merged neighborhoods has 138 unique neighborhoods
Perfect match: True

In [19]:
# Merge listings with neighborhood data
enriched_listings = df_listings.merge(
    merged_neighborhoods, 
    left_on='neighbourhood_cleansed', 
    right_on='neighbourhood', 
    how='left'
)

print(f"Original listings: {df_listings.shape}")
print(f"Enriched listings: {enriched_listings.shape}")
print(f"Any unmatched listings: {enriched_listings['geometry'].isnull().sum()}")

Original listings: (13945, 79)
Enriched listings: (13945, 82)
Any unmatched listings: 0

In [20]:
enriched_listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_x',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'neighbourhood_group', 'neighbourhood_y', 'geometry'],
      dtype='object')

In [25]:
enriched_listings = enriched_listings.drop(['neighbourhood_x', 'neighbourhood_y'], axis=1)

In [26]:
enriched_listings = enriched_listings.rename(columns={
    'neighbourhood_group': 'neighbourhood_group_geo' 
})

In [27]:
print(f"Cleaned shape: {enriched_listings.shape}")

Cleaned shape: (13945, 80)

In [30]:
print("\nPrice column sample:")
print(enriched_listings['price'].head(10))

Price column sample:
0    $105.00
1    $135.00
2     $75.00
3     $77.00
4     $40.00
5     $60.00
6        NaN
7    $143.00
8        NaN
9     $70.00
Name: price, dtype: object

In [32]:
print(f"Price data type: {enriched_listings['price'].dtype}")

Price data type: object

In [33]:
print(f"Price missing values: {enriched_listings['price'].isnull().sum()}")

Price missing values: 5047

In [36]:
%store enriched_listings

Stored 'enriched_listings' (DataFrame)