In [1]:
%store -r df_neigh_list gdf_neigh_geo

In [2]:
df_neigh_list

      neighbourhood_group                              neighbourhood
0    Charlottenburg-Wilm.                                  Barstraße
1    Charlottenburg-Wilm.                        Charlottenburg Nord
2    Charlottenburg-Wilm.                        Düsseldorfer Straße
3    Charlottenburg-Wilm.                            Forst Grunewald
4    Charlottenburg-Wilm.                                  Grunewald
..                    ...                                        ...
134    Treptow - Köpenick                            Oberschöneweide
135    Treptow - Köpenick                                Plänterwald
136    Treptow - Köpenick                     Rahnsdorf/Hessenwinkel
137    Treptow - Köpenick  Schmöckwitz/Karolinenhof/Rauchfangswerder
138                   NaN                                        NaN

[139 rows x 2 columns]

In [3]:
gdf_neigh_geo

,neighbourhood,neighbourhood_group,geometry
0,Blankenfelde/Niederschönhausen,Pankow,"MULTIPOLYGON (((13.41191 52.61487, 13.41183 52..."
1,Helmholtzplatz,Pankow,"MULTIPOLYGON (((13.41405 52.54929, 13.41422 52..."
2,Wiesbadener Straße,Charlottenburg-Wilm.,"MULTIPOLYGON (((13.30748 52.46788, 13.30743 52..."
3,Schmöckwitz/Karolinenhof/Rauchfangswerder,Treptow - Köpenick,"MULTIPOLYGON (((13.70973 52.3963, 13.70926 52...."
4,Müggelheim,Treptow - Köpenick,"MULTIPOLYGON (((13.73762 52.4085, 13.73773 52...."
...,...,...,...
135,Hellersdorf-Ost,Marzahn - Hellersdorf,"MULTIPOLYGON (((13.62135 52.52704, 13.62079 52..."
136,Mahlsdorf,Marzahn - Hellersdorf,"MULTIPOLYGON (((13.65554 52.52982, 13.65693 52..."
137,Ost 1,Reinickendorf,"MULTIPOLYGON (((13.36666 52.55823, 13.36561 52..."
138,Ost 2,Reinickendorf,"MULTIPOLYGON (((13.36418 52.56298, 13.36423 52..."
139,MV 2,Reinickendorf,"MULTIPOLYGON (((13.34846 52.60664, 13.34911 52..."

In [4]:
print("df_neigh_list missing counts:")
print(df_neigh_list.isna().sum())

df_neigh_list missing counts:
neighbourhood_group    1
neighbourhood          1
dtype: int64

In [5]:
print("\ngdf_neigh_geo missing counts:")
print(gdf_neigh_geo.isna().sum())

gdf_neigh_geo missing counts:
neighbourhood          2
neighbourhood_group    2
geometry               0
dtype: int64

In [6]:
print("\ndf_neigh_list – rows with missing values:")
display(df_neigh_list[df_neigh_list[['neighbourhood_group','neighbourhood']].isna().any(axis=1)])

df_neigh_list – rows with missing values:

    neighbourhood_group neighbourhood
138                 NaN           NaN

In [7]:
print("\ngdf_neigh_geo – rows with missing values:")
display(gdf_neigh_geo[gdf_neigh_geo[['neighbourhood_group','neighbourhood']].isna().any(axis=1)])

gdf_neigh_geo – rows with missing values:

,neighbourhood,neighbourhood_group,geometry
11,None,None,"MULTIPOLYGON (((13.61659 52.58154, 13.61458 52..."
12,None,None,"MULTIPOLYGON (((13.61668 52.57868, 13.60703 52..."

In [8]:
df_neigh_list = df_neigh_list.drop(138)
gdf_neigh_geo = gdf_neigh_geo.drop([11, 12])

In [9]:
print("df_neigh_list unique neighborhoods:", df_neigh_list['neighbourhood'].nunique())
print("gdf_neigh_geo unique neighborhoods:", gdf_neigh_geo['neighbourhood'].nunique())

df_neigh_list unique neighborhoods: 138
gdf_neigh_geo unique neighborhoods: 138

In [10]:
# Check if they're the same neighborhoods in different order
neigh_list_set = set(df_neigh_list['neighbourhood'])
neigh_geo_set = set(gdf_neigh_geo['neighbourhood'])

print("Are they the same neighborhoods?", neigh_list_set == neigh_geo_set)
print("Neighborhoods only in df_neigh_list:", neigh_list_set - neigh_geo_set)
print("Neighborhoods only in gdf_neigh_geo:", neigh_geo_set - neigh_list_set)

# Also check if borough groupings help with matching
print("\nBorough groups in df_neigh_list:")
print(df_neigh_list['neighbourhood_group'].value_counts())
print("\nBorough groups in gdf_neigh_geo:")
print(gdf_neigh_geo['neighbourhood_group'].value_counts())

Are they the same neighborhoods? True
Neighborhoods only in df_neigh_list: set()
Neighborhoods only in gdf_neigh_geo: set()

Borough groups in df_neigh_list:
neighbourhood_group
Treptow - Köpenick          20
Charlottenburg-Wilm.        17
Pankow                      16
Lichtenberg                 13
Reinickendorf               11
Neukölln                    10
Mitte                       10
Marzahn - Hellersdorf        9
Spandau                      9
Friedrichshain-Kreuzberg     8
Steglitz - Zehlendorf        8
Tempelhof - Schöneberg       7
Name: count, dtype: int64

Borough groups in gdf_neigh_geo:
neighbourhood_group
Treptow - Köpenick          20
Charlottenburg-Wilm.        17
Pankow                      16
Lichtenberg                 13
Reinickendorf               11
Neukölln                    10
Mitte                       10
Marzahn - Hellersdorf        9
Spandau                      9
Friedrichshain-Kreuzberg     8
Steglitz - Zehlendorf        8
Tempelhof - Schöneberg       7
Name: count, dtype: int64

In [14]:
merged_neighborhoods = df_neigh_list.merge(
    gdf_neigh_geo, 
    on=['neighbourhood', 'neighbourhood_group'], 
    how='inner'
)

print(f"Merged dataset shape: {merged_neighborhoods.shape}")
print(f"Should be 138 rows: {len(merged_neighborhoods) == 138}")

# Verify the merge worked
print("\nColumns in merged dataset:")
print(merged_neighborhoods.columns.tolist())

Merged dataset shape: (138, 3)
Should be 138 rows: True

Columns in merged dataset:
['neighbourhood_group', 'neighbourhood', 'geometry']

In [15]:
merged_neighborhoods

,neighbourhood_group,neighbourhood,geometry
0,Charlottenburg-Wilm.,Barstraße,"MULTIPOLYGON (((13.30071 52.48778, 13.30126 52..."
1,Charlottenburg-Wilm.,Charlottenburg Nord,"MULTIPOLYGON (((13.32733 52.54145, 13.32732 52..."
2,Charlottenburg-Wilm.,Düsseldorfer Straße,"MULTIPOLYGON (((13.33697 52.50068, 13.33751 52..."
3,Charlottenburg-Wilm.,Forst Grunewald,"MULTIPOLYGON (((13.2383 52.46917, 13.23777 52...."
4,Charlottenburg-Wilm.,Grunewald,"MULTIPOLYGON (((13.26053 52.48945, 13.26094 52..."
...,...,...,...
133,Treptow - Köpenick,Niederschöneweide,"MULTIPOLYGON (((13.55315 52.44784, 13.54968 52..."
134,Treptow - Köpenick,Oberschöneweide,"MULTIPOLYGON (((13.49418 52.48312, 13.49664 52..."
135,Treptow - Köpenick,Plänterwald,"MULTIPOLYGON (((13.45859 52.48552, 13.45833 52..."
136,Treptow - Köpenick,Rahnsdorf/Hessenwinkel,"MULTIPOLYGON (((13.73141 52.41976, 13.73134 52..."
137,Treptow - Köpenick,Schmöckwitz/Karolinenhof/Rauchfangswerder,"MULTIPOLYGON (((13.70973 52.3963, 13.70926 52...."

In [16]:
%store merged_neighborhoods

Stored 'merged_neighborhoods' (DataFrame)